html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.score {
  position: absolute;
  top: 8px;
  right: 16px;
}